* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--bs-font-roboto);
}

.navbar-brand img {
    width: 190px;
}

#about {
    background-color: #0e1317;
}

#feature-shape {
    background: url(images/shape-3.png);
    background-attachment: fixed;
    background-size: cover;
}

#features-item div {
    margin: 12px;
    outline: var(--bs-brown);
    outline-style: dashed;
}

#menu {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../images/bg-1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8 {
    box-shadow: rgba(144, 144, 155, 0.2) 0px 7px 29px 0px;
}

#offer {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../images/02.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.tour-item {
    box-shadow: rgba(151, 151, 153, 0.661) 0px 7px 29px 0px;
}

.shadow {
    box-shadow: 0px 0px 5px 0px;
    padding-top: 10px;
}
#btnp,#chef1,#chef2,#chef3,#chef4{
  cursor: pointer;
  transition: 300ms;
}
#btnp:hover{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    transform: scale(1.15);
}
#chef1:hover,
#chef2:hover,
#chef3:hover,
#chef4:hover{
    border-radius: 50%;
    transform: scale(1.15);
}

@media(max-width:425px) {
    .navbar-brand img {
        width: 130px;
    }
}

@media only screen and (min-width:1024px) {
    .video1 {
        margin-top: 95px;
    }
}

:root {
    --bs-brown: #695044;
    --bs-black: #0e1317;
    --bs-white: #ffffff;
    --bs-font-lobster: 'Lobster Two', cursive;
    --bs-font-roboto: 'Roboto', sans-serif;

}

.text-white {
    color: var(--bs-white);
}

.bg-brown {
    background: var(--bs-brown);
}

.bg-white {
    background: var(--bs-white);
}

.text-brown {
    color: var(--bs-brown);
}

.bg-black {
    background: var(--bs-black);
}

.text-black {
    color: var(--bs-black);
}

.font-lobster {
    font-family: var(--bs-font-lobster);
}

.font-roboto {
    font-family: var(--bs-font-roboto);
}