* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}

.carousel-caption span:hover {
    color: #e51515;
    cursor: pointer;
}

.carousel-caption {
    top: 200px;
}
.service .img-fluid {
    transition:2s;
}

.service .img-fluid:hover {
    transform: scale(1.5);
    color: #aea7a7;
}

.service .row div {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.products {
    background: url(../images/pro.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.item {
    position: relative;
}

.owl-carousel image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.927));
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    overflow: hidden;
    height: 0;
    transition: .3s ease;
}

.owl-carousel .item:hover .overlay {
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#counter {
    background: url(../images/pro2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#team {
    background: url(../images/pro3.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.book-a-table {
    background: url(../images/pro5.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#pre-footer {
    background: url(../images/pro4.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#footer {
    background: url(../images/pro3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

:root {

    --bs-orange: #e51515;
    --bs-gray: #9d9d9d;
    --bs-white: #ffffff;
    --bs-dark: #212529;
    --bs-font-oswald: 'Oswald', sans-serif;
    --bs-font-Rubik: 'Rubik', sans-serif;
}

.bg-orange {
    background: var(--bs-orange);
}

.text-orange {
    color: var(--bs-orange);
}

.bg-gray {
    background: var(--bs-gray);
}

.text-gray {
    color: var(--bs-gray);
}

.bg-white {
    background: var(--bs-white);
}

.text-white {
    color: var(--bs-white);
}

.bg-dark {
    background: var(--bs-dark);
}

.text-dark {
    color: var(--bs-dark);
}

.font-oswald {
    font-family: var(--bs-font-oswald);
}

.font-Rubik {
    font-family: var(--bs-font-Rubik);
}